/* Styling for Index, About, and Portfolio pages */


body {
    background-color: lightblue;
    margin: 0;
    padding: 0px;
	font-family: 'Poppins', sans-serif;
}

.paragraph {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#paragraph {
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: underline;
}

#stockimage {
    border-radius: 8%;
    width: 550px;
}

main {
    text-align: center;
}

/* Form field */

.messagefield {
    font-size: 18px;
    height: 200px;
    width: 200px;
    margin-top: 8px;
    margin-bottom: 40px;
}

/* Grid Container */

.grid-container {
	display: grid;
    gap: 20px 20px;
    margin: 0 auto;
    grid-template-columns: repeat(3fr, 1fr);
	grid-template-rows: 50px auto 70px;
	grid-auto-columns: minmax(100px, auto);
	grid-template-areas:
		'nav nav nav'
		'main main sidebar'
		'main main sidebar'
		'footer footer footer';
}

.item-one {
	grid-area: nav;
	background-color: ivory;
	padding: 15px;
	text-align: center;
    box-shadow: 0 0 3px black;
	height: 30px;
}

.item-one li a:hover {
    color: green;
}

.item-one li {
	display: inline;
    padding-left: 55px;
    font-size: 18px;
}

.item-two {
	grid-area: main;
	background-color: lightblue;
    
}

.item-three {
	grid-area: footer;
	background-color: ivory;
	padding: 15px;
    text-align: center;
    box-shadow: 0 0 3px black;
    
}

.item-four {
	grid-area: sidebar;
	background-color: lightblue;

}

/* portfolio css */

.highlight {
    background: yellow;
}

.portfolio-grid {
    display: grid;
    gap: 1.5rem;

}

.portfolio {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}