.grid-container {
	display: grid;
	gap: 1.5rem;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'nav nav nav'
		'main main sidebar'
		'main main sidebar'
		'footer footer footer';
}

.item-one {
	grid-area: nav;
	background-color: lightpink;
    height: 7rem;
}

.item-two {
	grid-area: main;
	background-color: lightblue;
    height: 40rem;
}

.item-three {
	grid-area: footer;
	background-color: lightgreen;
    height: 7rem;
}

.item-four {
	grid-area: sidebar;
	background-color: lightsalmon;
}